.container {
    padding: 4px;
}

#first_title {
    text-align: center;
    text-decoration: underline;
    font-family: Tahoma, Geneva, sans-serif;
}

.video-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footer {
    text-align: center;
}

.cp-text{ color: rgba(0,0,0,.7); text-shadow: 0 1px rgba(255, 255, 255, 0.1); padding-top: 18px; text-align: center;}

.first_name {
    float:left;
    display:inline;
    width: 49%;
}

.second_name {
    float:left;
    display:inline;
    width: 49%;
}
